USE [CSN_QLTB_31/12]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[ID_PHONG] [char](10) NOT NULL,
	[TEN_PHONG] [varchar](30) NULL,
	[SO_LUONG_GV] [int] NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[ID_PHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THIETBI]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THIETBI](
	[ID_TB] [char](10) NOT NULL,
	[TEN_TB] [varchar](30) NULL,
	[NAM_SX] [datetime] NULL,
 CONSTRAINT [PK_THIETBI] PRIMARY KEY CLUSTERED 
(
	[ID_TB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[ID_GV] [char](10) NOT NULL,
	[TEN_GV] [varchar](30) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[ID_GV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUOC](
	[ID_TB] [char](10) NOT NULL,
	[ID_PHONG] [char](10) NOT NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[ID_TB] ASC,
	[ID_PHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THONGSO]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THONGSO](
	[ID_THONGSO] [char](10) NOT NULL,
	[ID_TB] [char](10) NOT NULL,
	[TEN_THONGSO] [varchar](30) NULL,
	[GIA_TRI] [varchar](50) NULL,
 CONSTRAINT [PK_THONGSO] PRIMARY KEY CLUSTERED 
(
	[ID_THONGSO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUDUNG]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUDUNG](
	[ID_TB] [char](10) NOT NULL,
	[ID_GV] [char](10) NOT NULL,
	[ID_PHONG] [char](10) NOT NULL,
	[THOIGIAN_SD] [int] NULL,
 CONSTRAINT [PK_SUDUNG] PRIMARY KEY CLUSTERED 
(
	[ID_TB] ASC,
	[ID_GV] ASC,
	[ID_PHONG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[O]    Script Date: 01/07/2024 18:52:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[O](
	[ID_PHONG] [char](10) NOT NULL,
	[ID_GV] [char](10) NOT NULL,
 CONSTRAINT [PK_O] PRIMARY KEY CLUSTERED 
(
	[ID_PHONG] ASC,
	[ID_GV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_O_O_PHONG]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[O]  WITH CHECK ADD  CONSTRAINT [FK_O_O_PHONG] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([ID_PHONG])
GO
ALTER TABLE [dbo].[O] CHECK CONSTRAINT [FK_O_O_PHONG]
GO
/****** Object:  ForeignKey [FK_O_O2_GIANGVIE]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[O]  WITH CHECK ADD  CONSTRAINT [FK_O_O2_GIANGVIE] FOREIGN KEY([ID_GV])
REFERENCES [dbo].[GIANGVIEN] ([ID_GV])
GO
ALTER TABLE [dbo].[O] CHECK CONSTRAINT [FK_O_O2_GIANGVIE]
GO
/****** Object:  ForeignKey [FK_SUDUNG_SUDUNG_THIETBI]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_SUDUNG_THIETBI] FOREIGN KEY([ID_TB])
REFERENCES [dbo].[THIETBI] ([ID_TB])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_SUDUNG_THIETBI]
GO
/****** Object:  ForeignKey [FK_SUDUNG_SUDUNG2_GIANGVIE]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_SUDUNG2_GIANGVIE] FOREIGN KEY([ID_GV])
REFERENCES [dbo].[GIANGVIEN] ([ID_GV])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_SUDUNG2_GIANGVIE]
GO
/****** Object:  ForeignKey [FK_SUDUNG_SUDUNG3_PHONG]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[SUDUNG]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNG_SUDUNG3_PHONG] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([ID_PHONG])
GO
ALTER TABLE [dbo].[SUDUNG] CHECK CONSTRAINT [FK_SUDUNG_SUDUNG3_PHONG]
GO
/****** Object:  ForeignKey [FK_THONGSO_CO_THIETBI]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[THONGSO]  WITH CHECK ADD  CONSTRAINT [FK_THONGSO_CO_THIETBI] FOREIGN KEY([ID_TB])
REFERENCES [dbo].[THIETBI] ([ID_TB])
GO
ALTER TABLE [dbo].[THONGSO] CHECK CONSTRAINT [FK_THONGSO_CO_THIETBI]
GO
/****** Object:  ForeignKey [FK_THUOC_THUOC_THIETBI]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_THUOC_THIETBI] FOREIGN KEY([ID_TB])
REFERENCES [dbo].[THIETBI] ([ID_TB])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_THUOC_THIETBI]
GO
/****** Object:  ForeignKey [FK_THUOC_THUOC2_PHONG]    Script Date: 01/07/2024 18:52:46 ******/
ALTER TABLE [dbo].[THUOC]  WITH CHECK ADD  CONSTRAINT [FK_THUOC_THUOC2_PHONG] FOREIGN KEY([ID_PHONG])
REFERENCES [dbo].[PHONG] ([ID_PHONG])
GO
ALTER TABLE [dbo].[THUOC] CHECK CONSTRAINT [FK_THUOC_THUOC2_PHONG]
GO
